<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastModified</key>
	<string>December 13, 2017 at 4:31 AM</string>
	<key>Schools</key>
	<dict>
		<key>TyngMiddle</key>
		<dict>
			<key>Classes</key>
			<dict>
				<key>G7-S</key>
				<dict>
					<key>Blog Info</key>
					<dict>
						<key>ELA</key>
						<dict>
							<key>Blog URL</key>
							<string>https://mrpelablog.blogspot.com</string>
							<key>Content</key>
							<string>Bring your colored pencils to class.Words on Friday's vocab test: agitated  avarice  celestial  domestic   dowry  fettered  haggard    mourner   odious   onslaught   reclamation   repentance   substantial   terrestrial  ...</string>
							<key>Icon</key>
							<string>ELA Icon</string>
							<key>RSS URL</key>
							<string>https://mrpelablog.blogspot.com/feeds/posts/default</string>
						</dict>
						<key>World History</key>
						<dict>
							<key>Blog URL</key>
							<string>https://sites.google.com/site/msleahyancientcivilizations/homework</string>
							<key>Content</key>
							<string>Today was the last day to work on the Mesopotamia city drawing. We also started the ch. 5 vocab.Homework: Ch. 5 Vocab due tomorrow! The vocab sheet is attached to this post but you will need your textbook (unless you want to just...</string>
							<key>Icon</key>
							<string>Social Studies Icon</string>
							<key>RSS URL</key>
							<string>https://sites.google.com/site/msleahyancientcivilizations/homework/posts.xml</string>
						</dict>
					</dict>
					<key>Name</key>
					<string>Grade 7 Seekers</string>
				</dict>
				<key>G7-W</key>
				<dict>
					<key>Blog Info</key>
					<dict>
						<key>ELA</key>
						<dict>
							<key>Blog URL</key>
							<string>http://mrsleahy.com</string>
							<key>Content</key>
							<string>AGENDA: 1.) Word Work Presentations 2.) Bell Ringer Week 10  do Monday, Tuesday and Wednesday 3.) Google Classroom Activities Who Said That?!? Activity Stave III Sequencing Activity The Metamorphosis of Ebenezer Scrooge (Staves I  III ONLY) Activity 4.) Agenda Books **YOU MAY USE TEAM TIME TO WORK ON...</string>
							<key>Icon</key>
							<string>ELA Icon</string>
							<key>RSS URL</key>
							<string>http://mrsleahy.com/feed</string>
						</dict>
						<key>Math</key>
						<dict>
							<key>Blog URL</key>
							<string>https://mrsdowneymathclass.blogspot.com</string>
							<key>Content</key>
							<string>No post today.</string>
							<key>Icon</key>
							<string>Math Icon</string>
							<key>RSS URL</key>
							<string>https://mrsdowneymathclass.blogspot.com/feeds/posts/default</string>
						</dict>
						<key>Science</key>
						<dict>
							<key>Blog URL</key>
							<string>https://mrbellerose.blogspot.com</string>
							<key>Content</key>
							<string>No post today.</string>
							<key>Icon</key>
							<string>Science Icon</string>
							<key>RSS URL</key>
							<string>https://mrbellerose.blogspot.com/feeds/posts/default</string>
						</dict>
						<key>World History</key>
						<dict>
							<key>Blog URL</key>
							<string>https://mrobsgeographyclass.blogspot.com</string>
							<key>Content</key>
							<string>No post today.</string>
							<key>Icon</key>
							<string>Social Studies Icon</string>
							<key>RSS URL</key>
							<string>https://mrobsgeographyclass.blogspot.com/feeds/posts/default</string>
						</dict>
					</dict>
					<key>Name</key>
					<string>Grade 7 Wonders</string>
				</dict>
				<key>G8-RRS</key>
				<dict>
					<key>Blog Info</key>
					<dict>
						<key>ELA</key>
						<dict>
							<key>Blog URL</key>
							<string>https://mrmaslanka.wordpress.com</string>
							<key>Content</key>
							<string>No post today.</string>
							<key>Icon</key>
							<string>ELA Icon</string>
							<key>RSS URL</key>
							<string>https://mrmaslanka.wordpress.com/feed</string>
						</dict>
						<key>Math</key>
						<dict>
							<key>Blog URL</key>
							<string>https://tms8-1math.blogspot.com</string>
							<key>Content</key>
							<string>Algebra1. Finish part a of the scatter plot assignment2. Read pages 2-3 and answer #1-9 only.**You started this in class, so you may have finished it already!8th grade mathMORE PRACTICE WITH SLOPE-INTERCEPT FORM**Some of the problems are tricky! Take on the...</string>
							<key>Icon</key>
							<string>Math Icon</string>
							<key>RSS URL</key>
							<string>https://tms8-1math.blogspot.com/feeds/posts/default</string>
						</dict>
						<key>Science</key>
						<dict>
							<key>Blog URL</key>
							<string>https://chaplescienceclass.blogspot.com/</string>
							<key>Content</key>
							<string>No post today.</string>
							<key>Icon</key>
							<string>Science Icon</string>
							<key>RSS URL</key>
							<string>https://feeds.feedburner.com/MrChaplesScienceClass</string>
						</dict>
						<key>US History</key>
						<dict>
							<key>Blog URL</key>
							<string>http://flahertyhistory.edublogs.org</string>
							<key>Content</key>
							<string>OBJECTIVE: Describe the weaknesses of the A of C. 1. Articles of Confederation notes 2. A of C in Visuals project HOMEWORK: 1) A of C Reading  re-read page 1, read/highlight page 2; 2) Test on Chapter 8 (Part I) Monday; 3) Study Guide</string>
							<key>Icon</key>
							<string>Social Studies Icon</string>
							<key>RSS URL</key>
							<string>https://flahertyhistory.edublogs.org/feed</string>
						</dict>
					</dict>
					<key>Name</key>
					<string>Grade 8 Red Rising Stars</string>
				</dict>
				<key>G8-SSS</key>
				<dict>
					<key>Blog Info</key>
					<dict>
						<key>ELA</key>
						<dict>
							<key>Blog URL</key>
							<string>https://elamyers.blogspot.com</string>
							<key>Content</key>
							<string>No post today.</string>
							<key>Icon</key>
							<string>ELA Icon</string>
							<key>RSS URL</key>
							<string>https://elamyers.blogspot.com/feeds/posts/default</string>
						</dict>
						<key>Math</key>
						<dict>
							<key>Blog URL</key>
							<string>https://mseringismath.blogspot.com</string>
							<key>Content</key>
							<string>Hi All!In Green class, we wrote equations of parallel and perpendicular lines. For homework, complete Page 191 #9-12, 19-24.Reminder: Quiz Thursday on 4.1-4.3In Purple, Red, and Blue class, we rewrote equations in slope intercept form, and identified m as slope, and b as y-intercept....</string>
							<key>Icon</key>
							<string>Math Icon</string>
							<key>RSS URL</key>
							<string>https://mseringismath.blogspot.com/feeds/posts/default</string>
						</dict>
						<key>Science</key>
						<dict>
							<key>Blog URL</key>
							<string>https://gauvinscience.blogspot.com</string>
							<key>Content</key>
							<string>No post today.</string>
							<key>Icon</key>
							<string>Science Icon</string>
							<key>RSS URL</key>
							<string>https://gauvinscience.blogspot.com/feeds/posts/default</string>
						</dict>
						<key>US History</key>
						<dict>
							<key>Blog URL</key>
							<string>https://deshlertps.blogspot.com</string>
							<key>Content</key>
							<string>Homework:1.) Watch entire Shays' Rebellion video</string>
							<key>Icon</key>
							<string>Social Studies Icon</string>
							<key>RSS URL</key>
							<string>https://deshlertps.blogspot.com/feeds/posts/default</string>
						</dict>
					</dict>
					<key>Name</key>
					<string>Grade 8 Silver Soaring Stars</string>
				</dict>
			</dict>
			<key>Index</key>
			<integer>0</integer>
			<key>Location</key>
			<string>Tyngsboro, MA</string>
			<key>Name</key>
			<string>Tyngsboro Middle School</string>
		</dict>
	</dict>
</dict>
</plist>
